<h1>Admin Dashboard</h1>
<div style="display: flex; flex-wrap: wrap">
    <div style="margin-right: 20px">
        <p-panel header="Quick Navigation">
            <ul style="font-size: 16px">
                <li>
                    <a routerLink="/admin/report">Class Forms and Contacts</a>
                </li>
                <li>
                    <a routerLink="/admin/t-shirts">T-shirt Sizes</a>
                </li>
                <li>
                    <a routerLink="/calendar/classes">Class Calendar</a>
                </li>
            </ul>
        </p-panel>
    </div>
    <div>
        <p-panel header="Summer 2023 Enrollment"
            ><div style="width: 500px; margin-top: 10px">
                <p-chart
                    *rxLet="data$; let data; suspense: loading"
                    type="radar"
                    [data]="data$ | async"
                    [options]="chartOptions"
                    [style]="{ height: '200px' }"
                ></p-chart>
                <ng-template #loading>
                    <div
                        style="
                            margin-left: auto;
                            margin-right: auto;
                            width: fit-content;
                        "
                    >
                        <p-progressSpinner></p-progressSpinner></div
                ></ng-template></div
        ></p-panel>
    </div>
</div>
