<h1>Class Forms and Contacts</h1>
<div style="margin-top: 20px">
    <p-table
        *ngIf="{
            isClassFormDownloadInProgress:
                (isClassFormDownloadInProgress$ | async) ?? {},
            isClassSignInFormDownloadsInProgress:
                (isClassSignInFormDownloadsInProgress$ | async) ?? {}
        } as progress"
        [value]="(classes$ | async) ?? []"
        responsiveLayout="scroll"
        [loading]="(classes$ | async) === null"
        sortMode="single"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title" style="width: 40%">
                    Name <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="enrolledCount">
                    # Enrolled Students
                    <p-sortIcon field="enrolledCount"></p-sortIcon>
                </th>
                <th pSortableColumn="start">
                    Start
                    <p-sortIcon field="start"></p-sortIcon>
                </th>
                <th pSortableColumn="end">
                    End
                    <p-sortIcon field="end"></p-sortIcon>
                </th>
                <th style="width: 20%"></th>
                <th style="width: 15%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-class>
            <tr>
                <td>{{ class.title }}</td>
                <td>{{ class.enrolledCount }}</td>
                <td>{{ class.start }}</td>
                <td>{{ class.end }}</td>
                <td>
                    <p-button
                        class="sol-button"
                        label="View/Print Class Forms"
                        icon="pi pi-download"
                        [id]="class.id + 'downloadBtn'"
                        [loading]="
                            progress.isClassFormDownloadInProgress[class.title]
                        "
                        (click)="downloadClick(class.title)"
                    >
                    </p-button>
                </td>
                <td>
                    <p-button
                        class="sol-button"
                        [id]="class.id + 'emailsBtn'"
                        label="Copy Email Lists"
                        [loading]="
                            progress.isClassSignInFormDownloadsInProgress[
                                class.title
                            ]
                        "
                        (click)="copyEmailsClick(class.title)"
                    >
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
